body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    height: 41px;
    background-color: rgba(240, 255, 255, 0.883);
   color: rgb(143, 10, 10);
}

img{
    margin-top: 50px;
    margin-left: 40px;
    background-color: rgba(245, 245, 245, 0.798);
    border-radius: 207px;
}
.name{
    color:white;
}
h2{
   margin-left: -150px;
   font-weight: bolder;
   font-size: 30px;
   color: rgb(1, 22, 22);
}
.in{
                margin-left: 980px;
                margin-top: -238px;
                height: 484px;
                width: 480px;
                padding-left: 126px;
                padding-top: 2px;
                border-radius: 20px;
                color: rgb(161, 84, 29);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bolder;
                font-style:italic;
                opacity: 0.9;
                font-family: cursive;
                background-color: rgba(196, 196, 215, 0.552);
}
.input{
    margin-top: 5px;
    border-radius: 8px;
    height:60px;
    width: 350px;
    border: none;
    background-color: rgba(243, 243, 243, 0.766);
    
}
.input::placeholder{
    padding-left: 10px;
    font-size: medium;
    font-style:normal;
    color: black;
}
.button{
    margin-left: 90px;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    font-size: medium;
    background-color: rgba(69, 224, 244, 0.721);
}
.footer{
    margin-top: 100px;
    background-color: rgba(98, 197, 233, 0.611);
    color: rgb(235, 240, 240);
    height: 40px;
    font-size: 30px;
    font-weight: bolder;
}